/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
    --fontcolor1: #ffffff;
    --fontcolor2: cyan;
    --background1: #a12a62;
    --background2: #bd3b79;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    background-color: var(--background1);
    color: var(--fontcolor1);
}

.btn-main, .btn-main:hover, .btn-main:active, .btn-main:visited {
    background-color: var(--background2);
    padding: 10px 50px;
    color: var(--fontcolor1);
}
